* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: rgb(235, 232, 232);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  /* flex-basis: 80%; */
  display: flex;
  margin: auto;
  padding: 16px;
  background-color: white;
  border-radius: 20px;
  /* border: 1px solid red;   */
}

.flex-row {
  display: flex;
  gap: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar {
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-position: bottom;
  color: white;
  border-radius: 10px;
  padding: 32px;
  /* display: none; */
}

.rounded-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #230cec;
  border: 1px solid white;
}

.number {
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}


.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 80px;
  /* border: 1px solid red;   */
}

form div,
.column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* border: 1px solid red;   */
}

input {
  padding: 5px 0px;
  font-size: 15px;
}

#name-warn, #mail-warn, #phone-warn{
  color: rgb(209, 99, 99);
}

.next-step {
  background-color: #181155;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  float: right;
  margin-top: 60px;
  /* border: 1px solid red;   */
}

#step-1 .next-step {
  margin-right: 80px;
  margin-bottom: 40px;
}

.blue-back {
  background-color: #230cec;
}

.go-back {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  color: gray;
  margin-top: 60px;
  /* border: 1px solid red;   */
}

.step {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.grey {
  color: gray;
}

.blue {
  color: blue;
}

.bold {
  font-weight: 800;
}

#step-2 img {
  margin-bottom: 32px;
}

.plans {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 12px 40px 16px 16px;
  border-radius: 10px;
}

.justify-center {
  justify-content: center;
}

.plan {
  width: 100%;
  padding: 16px 0px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.space-between {
  justify-content: space-between;
}

.service {
  padding: 16px 16px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.align {
  /* flex-basis: 50%; */
  text-align: center;
}

#step-1 {
  /* display: none; */
}

#step-2 {
  display: none;
}

#step-3 {
  display: none;
}

#step-4 {
  display: none;
}
#step-5 {
  display: none;
}


.light {
  color: lightgray;
}

#number1 {
  background-color: hsl(206, 94%, 87%);
}

#number1 .number {
  color:hsl(213, 96%, 18%);
}

.toggle {
  appearance: none;
  cursor: pointer;
  width: 50px;
  height: 26px;
  background-color: hsl(213, 96%, 18%);
  border-radius: 13px;
  position: relative;
}
.toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  background-color: white;
  transition: transform 0.2s;
}

.toggle:checked::before {
 transform: translateX(24px);
}

.small {
  font-size: 10px;
}

#yearly {
  display: none;
}

.plan-warn {
  color:rgb(221, 99, 99);
}

.blue-border {
  border: 0.5px solid blue;
}

.monthly {
  display: none;
}

#change {
  text-decoration: underline;
}

.padding {
  padding: 150px 60px;
}

#service-details, #plan-details {
  padding: 20px 10px;
}

.confirm{
  margin-top: 60px;

}

.black {
  color: rgb(14, 13, 13);
}


@media (max-width: 480px) {


  .main {
    margin: -80px 20px 0px 20px;
    z-index: 3;
    background-color: white;
    border-radius: 10px;  
    padding: 40px 40px;
  }

  .sidebar {
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    margin-top: -220px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    /* padding-bottom: 50px; */
    z-index: -2;
  }

  .step {
    display: none;
  }

  .container {
    flex-direction: column;
   padding: 0;
   width: 100%;
   background-color: rgb(235, 232, 232);
   position: relative;
   height: 450px;
  /* margin-top: 0px; */
  }

  #make-it-column {
    display: flex;
    flex-direction: column;
 
  }

  .mobile {
    display: flex;
    flex-direction: row;
  }

}
